{
  word-wrap: break-word;
}

html, body, * {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 13.3px;
}

.markdown,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
blockquote,
em,
strong,
#globe,
code {
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
blockquote,
ol,
ul,
li,
p,
section,
header,
footer {
  float: none;
  margin: 0;
  padding: 0;
}
h1,
p,
ul,
ol,
pre,
blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
}
h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
h1 + * {
  margin-top: 0;
}
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-bottom: 20px;
}
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  content: "## ";
  display: inline;
}
h3:before {
  content: "### ";
}
h4:before {
  content: "#### ";
}
h5:before {
  content: "##### ";
}
h6:before {
  content: "###### ";
}
li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
  line-height: 18px;
}
li:after {
  position: absolute;
  top: 0;
  left: 0;
}
ul > li:after {
  content: "*";
}
ol {
  counter-reset: ol;
}
ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
pre {
/*  margin-left: 34px;
  padding-left: 4ch;*/
}
blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
strong:before,
strong:after {
  content: "__";
  display: inline;
}
em:before,
em:after {
  content: "*";
  display: inline;
}
a {
  text-decoration: none;
}
a:before {
  content: "[";
  display: inline;
  color: #999;
}
a:after {
/*  content: "](" attr(href) ")";*/
  content: "]";
  display: inline;
  color: #999;
}
code {
  font-weight: 100;
}
code:before,
code:after {
  content: "`";
  display: inline;
}
pre code:before,
pre code:after {
  content: none;
}
hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
  color: #333;
}
@-moz-document url-prefix() {
  h1 {
    display: block;
  }
}
.markdown-ones ol > li:after {
  content: "1.";
}

html, body {
  background: #222;
  color: #FFF;
}

#container {
  max-width: 600px;
  padding: 40px;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  background: #090909;
}

* {
  font-weight: normal;
}

h1 {
  opacity: 0;
  position: absolute;
  top: 0;
}

h2 {
  color: #FF00FF;
}

h3 {
  color: #00FF66;
}

pre i {
  color: #999;
  font-style: normal;
}

pre b {
  color: yellow;
}

a {
  color: #FFF;
}

a.link,
li a {
   color: #00CCFF
}

pre#photo, pre#photo * {
  font-size: 10px;
  line-height: 11px;
  color: yellow;
}

pre#photo b {
  color: white;
}

pre#logo {
  line-height: 10px
}

#mandel {
  line-height: 16px;
}
#globe {
  line-height: 17px;
}

#deathstar {
  font-family: Monaco;
  font-size: 14px;
  line-height: 17px;
}

#hebrew {
  width: 360px;
}

#aleph {
  font-size: 0.9em;
  line-height: 1.2em;
}

#ffconf {
  line-height: 1em;
  color: yellow;
}

#pacman {
  line-height: 0.9;
  letter-spacing: 0.1em;
  font-size: 14px;